.true, .false{
    display: inline-block;
    vertical-align: top;
    margin: 50px;

    border: 3px solid black;
}

.true{
    background-color: lightblue;
}

.false{
    background-color: lightcoral;
} 